* {margin: 0;padding: 0;}

body{
    font-family: 'Montserrat', sans-serif;
}

#page {
    min-height: 200px;
    width: 60%;
    min-width: 600px;
    background: rgb(246, 236, 223);
    margin: 50px auto;
    padding: 30px;
    color: #342053;
}

.photo-and-name img{
    border-radius: 25%;
}

.photo {
    width: 15%;
    min-width: 130px;
    float: left;
    margin-right: 20px;
}

.contact-info-box {
    width: 70.9%;
    display: inline-block;
}

.name {
    margin-bottom: -5px;
}
.job-title {
    display: inline-block;
}

.contact-details {
    background: #e4e2cc;
    color: rgb(43, 54, 58);
    text-align: center;
    margin: auto;
    margin-top: 25px;
    padding: 5px;
    font-size: 15px;
    border-radius: 20px;
}

h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

p {
    padding: 0 5px;
    line-height: 25px;
    font-size: 20px;
    color: #000;
}

h3 {
    border: 1px solid #8e8b8b;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
    font-size: 20px;
}

table td {
    padding: 5px;
    font-size: 14px;
    color: #000;
    font-size: 20px;
}

table tr.school-1 td:first-child {
    width: 120px;
    color: rgb(10, 10, 10);
    padding-bottom: 25px;
    font-size: 20px;
}


h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
    font-size: 20px;
}

table td {
    padding: 5px;
    font-size: 14px;
    color: #000;
    font-size: 20px;
}

table tr.work-1 td:first-child {
    width: 120px;
    color: rgb(8, 0, 0);
    padding-bottom: 25px;
    font-size: 20px;
}

table tr.work-1 td {
    padding-bottom: 25px;
    font-size: 20px;
}


h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
    font-size: 20px;
}

table td {
    border: 4px;
    padding: 4px;
    font-size: 15px;
    color: #000;
    font-size: 1px;
}

table tr td:first-child {
    width: 200px;
}

table tr td:nth-child(2) {
    width: 300px;
}