* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header {
    background: #66b6d3;
    color: black;
    padding: 15px;
    text-align: center;
}

.navbar {
    display: grid;
    align-items: center;
    background: #66b6d3;
    color: white;
    padding: 15px;
    grid-template-columns: 1fr 2fr 1fr;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 25px;
    justify-content: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: center;
}

.actions a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.categories {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 10px;
}

.item {
    text-align: center;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 7px;
    margin-bottom: 8px;
}

footer {
    background: #222;
    color: white;
    padding: 12px;
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 500px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .navbar {
        grid-template-columns: 1fr 2fr;
    }
    .actions {
        display: none; /* Hide on small screens */
    }
}
